#include "kernel/config/general.h"
#include "kernel/boot.h"

OUTPUT_FORMAT("binary")
OUTPUT_ARCH(i386)
ENTRY(_start)


SECTIONS
{
  .bstext BOOTSEC_ADDR : AT(0x00) { *(.bstext) }
  .bsdata : { *(.bsdata) }

  .ldrtext LDRSEC_ADDR : AT(0x200 * LDRSTART) { *(.ldrtext) }
  .ldrdata : { *(.ldrdata) }

  .text KERNELENTRY_ADDR : AT(0x200 * KERNELSTART) { *(.text*) }
  .data : { *(.data*) }
  .rodata : { *(.rodata*) }
  .bss : { *(.bss*) }

  /DISCARD/ : {
    *(.note*)
  }
}